
  @media (min-width: 319px) and (max-width:480px){
    
  
body {  
        background-color: rgb(111, 110, 110);
     }   
    
    }

.blackbox {
     position: absolute;
     top: 15px;
     left: 100px;
     right: 100px;  
     background-color: rgb(0, 0, 0);
     border: 2px solid white;
}

.title {
    color: seashell;
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    display: flex;
    align-items: center;
    position: relative;
    left: 400px;
    right: 400px;
    padding-bottom: 1px;

    
    
}
#logo {

    border-radius: 50%;
    width: 120px;
    height: 120px;
   
  
}

.menu
{   
    color: aliceblue;
    font-size: 20px;
    display: flex;
    margin-left: 300px;
    gap: 20px ;
    font-family: "Ga Maamli", sans-serif;

}
.none {
    text-decoration: none; 
    color: aliceblue;
}

#mainphoto {
    width: 600px;
    height: 360px;
    margin-left: 350px;
    margin-bottom: 20px;
    border-radius: 20%;
} 
